body{
	background-color:  white;
	color: black;
	margin: 0px;
}
h{
	text-transform: uppercase;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-family: titling-gothic-fb-compressed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    letter-spacing: 2px;
}
h2{
    text-transform: uppercase;
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
    text-align: left;
    font-family: titling-gothic-fb-compressed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    letter-spacing: 2px;
}
p{
    position: relative;
    margin-top: -265px;
    margin-left: 115px;
    width: 575px;
    text-align: left;
    font-family: source sans pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 21pt; 
    font-size: 14pt;
    color: black;
    letter-spacing: 0.5px;
}